<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lecturers</title>
  </head>
  <body>
    <!-- If there is an error (assigned module), display the error message -->
    <% if (typeof error !== 'undefined') { %>
    <h1>Error</h1>
    <!-- Home Link -->
    <a href="/">Home</a>
    <h2>
      Error Message: Cannot delete lecturer <%= error %>. He/She has associated
      modules.
    </h2>
    <!-- If there's no error, display the lecturers in a table -->
    <% } else { %>
    <h1>Lecturers</h1>
    <!-- Home and addLecturer Links -->
    <a href="/lecturers/add">Add Lecturer</a><br />
    <a href="/">Home</a>
    <table border="1">
      <tr>
        <th>Lecturer ID</th>
        <th>Name</th>
        <th>Department ID</th>
        <th>Action</th>
      </tr>
      <!-- Loop through the lecturers array to display the lecturers -->
      <% lecturers.forEach(lecturer => { %>
      <tr>
        <td><%= lecturer._id %></td>
        <td><%= lecturer.name %></td>
        <td><%= lecturer.did %></td>
        <!-- Delete link for each lecturer -->
        <td>
          <a href="/lecturers/delete/<%= lecturer._id %>">Delete</a>
        </td>
      </tr>
      <% }) %>
    </table>
    <% } %>
  </body>
</html>
